{% extends "main/base.html" %} 
{% block title %} Return Items Page {% endblock%} 
{% block content %}

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Item</th>
      <th scope="col">Borrowed?</th>
      <th scope="col">Borrower</th>
    </tr>
  </thead>
  {% for item in ls %}
  <tbody>
    <tr>
      <th scope="row">{{item.id}}</th>
      <td>{{item.name}}</td>
      <td>{{item.isBorrowed}}</td>
      
      <td>
        {% if item.isBorrowed == True %}
          {% for user in users %}
                {% if user.rollNo == item.user %}
                  {{user.name}}({{user.rollNo}})
                  
                {% endif %}

          {% endfor %}
        {% else %}
           None
        {% endif %}
      </td>
      
    </tr>
  </tbody>
  {% endfor %}
</table>
 
  
  
{% endblock %}



